# fly.toml file generated for codeday-clear-gql on 2023-05-24T09:56:10-07:00

app = "codeday-clear-gql"
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "sea"

[experimental]
  auto_rollback = true

[[services]]
  protocol = "tcp"
  internal_port = 8090
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 50
    soft_limit = 40

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"
    restart_limit = 0

[env]
  WAIVER_MINOR_ID = "JDLGt9Tecw1653399584"
  UPLOADER_URL = "http://codeday-uploader.internal"
  WAIVER_SIGNED_PORT = "8090"
  LABS_URL = "http://codeday-labs-gql.internal:5000/graphql"
  TWILIO_TEXT_NUMBER = "8882633230"
  AUTH_AUDIENCE = "clear-gql"
  WAIVER_ADULT_ID = "6GzvX127Xs1653399868"
  PRIMARY_REGION = "sea"
  GOTENBERG_BASE = "http://codeday-gotenberg.internal:3000"
